@charset "UTF-8";

    body{
        background-color: beige;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-size: 20px;
    }

    h1{
        color: rgb(163, 106, 0);
        text-align: center;
    }

    h2{
        color: rgb(107, 78, 25);
        text-align: center;
    }

    p{
        text-align: center;
    }