@charset "UTF-8";

*{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body{
    background-image: linear-gradient(90deg, #587369 40%, #3B403E);
}

main{
    background-color: #F2F2E4;
    padding: 10px;
    width: 600px;
    margin: auto;
    border-radius: 20px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.685);
}

p{
    text-align: justify;
}

h1{
    color: #BF9A56;
    text-align: center;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.616);
}

h2{
    color: #BF9A56;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.616);
}